<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
      xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context = "http://www.springframework.org/schema/context"
      xsi:schemaLocation = "http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">
      
      <context:annotation-config/>
    
    
	<bean name="add1" class="autowire.Address">
	
	<property name="road" value="Abadat Nagar" />
	<property name="zipcode" value="1950" />
	<property name="houseno" value="246" />

	</bean>
	
	<bean name="address" class="autowire.Address">
	
	<property name="road" value="Baro Khutia" />
	<property name="zipcode" value="1950" />
	<property name="houseno" value="246" />

	</bean>
	
	<bean id="person" class="autowire.Person" autowire="byName"/>

</beans>