<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.w3.org/2001/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/spring-context.xsd">

	<bean id="std1" class="spring_core.spring_core.Student">

		<property name="studentID">
			<value>123</value>
		</property>

		<property name="studentAddresses">
			<value>"Dhaka"</value>
		</property>

		<property name="studentPhones">
			<value>"017152554652"</value>
		</property>

	</bean>

</beans>